.splash{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(11.99deg, #FF8008 16.26%, #FFD8B3 48.89%, #FFFFFF 76.42%);
	
}
.logo{
    width: 94vw;
    margin-left: 3px;
    margin-top: 210px;
}
.perros{
	width: 110vw;
  margin-left: -18px;
  margin-top: 299px
}

.bgWhite{
	width: 100vw;
	height: 100vh;
	background:#FFFFFF;
}

.register img{
	width: 80vw;
  margin-left: 20px;
  margin-top: 63px;
}

.register p{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	text-transform: none;
	letter-spacing: -0.0041em;
	margin-top: 15px;
	color: #323935;

}
.register label{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-transform: none;
	letter-spacing: -0.0041em;
	color: #AEAEB2;
	margin-left: 47px;
	margin-top: 10px;
}

.register input{
	background: #FFFFFF;
	border: 1px solid #FE904B;
	border-radius: 14px;
	margin-left: 30px;
  width: 85vw;
  padding: 10px;
}
.register button{
	border-radius: 14px;
	border-color: #ffffffbf;
	margin-left: 30px;
  width: 85vw;
  padding: 10px;
  margin-top: 40px;
}
.register a{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	text-transform: none;
	letter-spacing: -0.0041em;
	color: #F6F7FA;
}
