.splash{
	/*width: 100vw;*/	
	background-image:url(../img/splash.png)!important;
	height: 100vh;
	
}
.logo{
    width: 94vw;
    margin-left: 3px;
    margin-top: 210px;
}
.perros{
	width: 110vw;
  margin-left: -18px;
  margin-top: 299px
}

.bgWhite{
	width: 100vw;
	height: 100vh;
	background:#FFFFFF;
}

.bglogin{
	background-image:url(../img/bglogin.png)!important;
	height: 100vh;
}

.register img{
	width: 80vw;
  margin-left: 20px;
  margin-top: 63px;
}

.register p{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	text-transform: none;
	letter-spacing: -0.0041em;
	margin-top: 15px;
	color: #323935;

}
.register label{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-transform: none;
	letter-spacing: -0.0041em;
	color: #AEAEB2;
	margin-left: 47px;
	margin-top: 10px;
}

.register input{
	background: #FFFFFF;
	border: 1px solid #FE904B;
	border-radius: 14px;
	margin-left: 30px;
  width: 85vw;
  padding: 10px;
}
.register button{
	border-radius: 14px;
	border-color: #ffffffbf;
	margin-left: 30px;
  width: 85vw;
  padding: 10px;
  margin-top: 40px;
}
.register a{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	text-transform: none;
	letter-spacing: -0.0041em;
	color: #F6F7FA;
}

/*MASCOTAS*/

.bgmascotas{
	background-image:url(../img/bgmascotas.png)!important;
	height: 100vh;
}

.mascotas h1{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	text-transform: none;
	letter-spacing: -0.0041em;
	margin-top: 15px;
	color: #323935;
  margin-left: -96px;

}

.icon{
	font-size: 43px !important;
  color: #FB724C;
  margin-left: 20px;
  margin-top: 40px;
}

.mascotas img{
	margin-left: 33px;
  margin-top: 10px;
}

.mascotas i{
	font-size: 43px !important;
  color: #FB724C;
  margin-left: 40px;
}

.mascotas button{
	background: none;
  border: none;
  padding: 0px;

}

.mismascotas img{
	filter: brightness(0.8);
	border-radius: 8px;
	margin-left: 17px;
	margin-top: 23px;

}